.NavContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
    height: 90px;
    background: #111;
    color: #fff;
}
.NavContainer .logo{
    letter-spacing: 2px;
}
